.ProjectTile {
  height: 22rem;
  width: 38rem;
  background: black;
  transform-style: preserve-3d;
  transform: perspective(1000px);

  @media (min-width: 768px) {
    height: 26rem;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.ProjectImg {

  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  transform: none !important;
}

.techIcons {
  transform: translateZ(2rem);
}

.ProjectTile {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover .details {
    transform: translateY(-100%);
    opacity: 0.8;
  }

  &:hover .group-hover:opacity-0 {
    opacity: 0;
  }

  .details {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    height: 33%;
  }

  .description {
    transition: opacity 0.3s ease-in-out;
  }
}
